@model IEnumerable<PUPFMIS.Models.EndUserProjects>

<table class="table display table-striped">
    <thead>
        <tr>
            <th>
                Purchase Request No.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purpose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedBudget)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
