@model IEnumerable<PUPFMIS.Models.PurchaseRequestLineItems>

<div class="row">
    <div class="col-sm-12">
        <div class="card-body table-responsive p-sm-0">
            <table class="table table-striped table-hover" id="example2">
                <thead>
                    <tr>
                        <th style="vertical-align:middle; text-align:center" width="40%">@Html.DisplayNameFor(m => m.FKPPMPLineItem.Item)</th>
                        <th style="vertical-align:middle; text-align:center" width="15%">@Html.DisplayNameFor(m => m.FKPPMPLineItem.FKItem.FKItems.FkDistributionUnit)</th>
                        <th style="vertical-align:middle; text-align:center" width="10%">Quantity</th>
                        <th style="vertical-align:middle; text-align:center" width="15%">@Html.DisplayNameFor(m => m.FKPPMPLineItem.FKItem.UnitPrice)</th>
                        <th style="vertical-align:middle; text-align:center" width="20%">Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="vertical-align:middle; text-align:left">
                            <b>CHAIR, Executive</b>
                            <br />
                            Specifications: (specifications go here...)
                        </td>
                        <td style="vertical-align:middle; text-align:center">
                            PC
                        </td>
                        <td style="vertical-align:middle; text-align:center">
                            3
                        </td>
                        <td style="vertical-align:middle; text-align:right">
                            3,204.90
                        </td>
                        <td style="vertical-align:middle; text-align:right">
                            9,614.70
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>CHAIR, Visitors'</b>
                            <br />
                            Specifications: (specifications go here...)
                        </td>
                        <td align="center">
                            PC
                        </td>
                        <td align="center">
                            5
                        </td>
                        <td align="right">
                            1,500.00
                        </td>
                        <td align="right">
                            7,500.00
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <div class="text-right">
            <h4>Total Amount: &emsp; &emsp; 17,114.70</h4>
        </div>
    </div>
</div>
