@model PUPFMIS.Models.APPHeader

@{
    ViewBag.Title = "Annual Procurement Plan";
    ViewBag.Description = "CSE";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("APP-CSE", "index")</li>
        <li class="breadcrumb-item">Create</li>
    </ol>
}

@section Header {
    <div class="col-md-12 text-right">
        <h1 class="card-title">APP-CSE Details</h1>
    </div>
}

<div class="card card-info card-outline">
    <div class="card-header">
        <h1 class="card-title"><b>PART I. AVAILABLE AT PROCUREMENT SERVICE STORES</b></h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>
                                Item Specifications
                            </th>
                            <th>
                                Unit of Measure
                            </th>
                            <th>
                                Total Quantity
                            </th>
                            <th>
                                Unit Price
                            </th>
                            <th>
                                Estimated Budget
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="5%" align="center">A1.</td>
                            <td width="40%" align="left" valign="middle">
                                ALCOHOL, ethyl, 68%-70%, scented, 500ml (-5ml)
                            </td>
                            <td width="10%" align="center" valign="middle">
                                BOTTLE
                            </td>
                            <td width="15%" align="right" valign="middle">
                                400
                            </td>
                            <td width="15%" align="right" valign="middle">
                                49.73
                            </td>
                            <td width="20%" align="right" valign="middle">
                                19,892.00
                            </td>
                        </tr>
                        <tr>
                            <td width="5%" align="center">A2.</td>
                            <td width="30%" align="left" valign="middle">
                                STAMP PAD INK, purple or violet
                            </td>
                            <td width="10%" align="center" valign="middle">
                                BOTTLE
                            </td>
                            <td width="20%" align="right" valign="middle">
                                1000
                            </td>
                            <td width="15%" align="right" valign="middle">
                                24.63
                            </td>
                            <td width="20%" align="right" valign="middle">
                                24,263.00
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="float-right">
                    <h5>
                        Total:
                        7,016,853.17
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-info card-outline">
    <div class="card-header">
        <h1 class="card-title"><b>PART II. OTHER ITEMS NOT AVALABLE AT PS BUT REGULARLY PURCHASED FROM OTHER SOURCES</b></h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>
                                Item Specifications
                            </th>
                            <th>
                                Unit of Measure
                            </th>
                            <th>
                                Total Quantity
                            </th>
                            <th>
                                Unit Price
                            </th>
                            <th>
                                Estimated Budget
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="5%" align="center">B1.</td>
                            <td width="40%" align="left" valign="middle">
                                ENVELOPE, EXPANDING, KRAFTBOARD, Short, 100s/box
                            </td>
                            <td width="10%" align="center" valign="middle">
                                BOX
                            </td>
                            <td width="15%" align="right" valign="middle">
                                400
                            </td>
                            <td width="15%" align="right" valign="middle">
                                600.00
                            </td>
                            <td width="20%" align="right" valign="middle">
                                240,000.00
                            </td>
                        </tr>
                        <tr>
                            <td width="5%" align="center">B2.</td>
                            <td width="30%" align="left" valign="middle">
                                PADDING GLUE, WHITE
                            </td>
                            <td width="10%" align="center" valign="middle">
                                GALLON
                            </td>
                            <td width="20%" align="right" valign="middle">
                                150
                            </td>
                            <td width="15%" align="right" valign="middle">
                                400.00
                            </td>
                            <td width="20%" align="right" valign="middle">
                                60,000.00
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="float-right">
                    <h5>
                        Total:
                        25,029,178.36
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-info card-outline">
    <div class="card-header">
        <h1 class="card-title"><b>SUMMARY</b></h1>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <tr>
                <th>A. Total Estimated Budget for DBM-PS Items:</th>
                <td align="right">7,016,853.17</td>
            </tr>
            <tr>
                <th>B. Total Estimated Budget for Non-DBM Items:</th>
                <td align="right">25,029,178.36</td>
            </tr>
            <tr>
                <th>Total (A + B):</th>
                <td align="right">32,046,031.17</td>
            </tr>
            <tr>
                <th>Additional Provision for Inflation:</th>
                <td align="right">3,204,603.15</td>
            </tr>
            <tr>
                <th><h5><b>Total Estimated Budget:</b></h5></th>
                <td align="right"><h5><b>35,250,634.69</b></h5></td>
            </tr>
        </table>
    </div>
</div>

@section FormFooter {
    <div class="form-group float-right">
        <button class="btn btn-primary" onclick="window.location = '@Url.Action("index","PPMPApproval")'"> Submit</button>
        <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("index","PPMPApproval")'">Back</button>
    </div>
}
