@model PUPFMIS.Models.ProcurementPipeline

<table class="table display table-hover">
    <thead>
        <tr>
            <th width="5%"></th>
            <th style="vertical-align:middle; text-align:left;" width="25%">Code<br />Procurement Program/Project<br />End-User</th>
            <th style="vertical-align:middle; text-align:center;" width="5%">Source of Fund</th>
            <th style="vertical-align:middle; text-align:center;" width="10%">Estimated Budget</th>
            <th style="vertical-align:middle; text-align:center;" width="25%">Mode of Procurement</th>
            <th style="vertical-align:middle; text-align:center;" width="25%">Remarks</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="vertical-align:middle; text-align:center;">
                @Html.CheckBox("ItemSelected", true, htmlAttributes:  new { disabled = "disabled" } )
            </td>
            <td style="vertical-align:middle; text-align:left;">
                <b>2019-PSMO-PAP001</b>
                <br />
                <i>OFFICE REHABILITATION PROJECT</i>
                <br />
                PSMO
            </td>
            <td style="vertical-align:middle; text-align:center;">General Fund</td>
            <td style="vertical-align:middle; text-align:right;">89,210.00</td>
            <td style="vertical-align:middle; text-align:center;">
                Competitive Bidding
            </td>
            <td style="vertical-align:middle; text-align:left;">
                <i>No Remarks</i>
            </td>
        </tr>
        <tr>
            <td style="vertical-align:middle; text-align:center;">
                @Html.CheckBox("ItemSelected", true, htmlAttributes: new { disabled = "disabled" })
            </td>
            <td style="vertical-align:middle; text-align:left;">
                <b>2019-PSMO-PAP002</b>
                <br />
                <i>INSTITUTIONAL ACCREDITATION PREPARATION</i>
                <br />
                PSMO
            </td>
            <td style="vertical-align:middle; text-align:center;">General Fund</td>
            <td style="vertical-align:middle; text-align:right;">35,000.000</td>
            <td style="vertical-align:middle; text-align:center;">
                Competitive Bidding
            </td>
            <td style="vertical-align:middle; text-align:left;">
                <i>No Remarks</i>
            </td>
        </tr>
    </tbody>
</table>
