@model PUPFMIS.Models.AgencyProcurementRequest

@{
    ViewBag.Title = "Agency Procurement Request";
    ViewBag.Description = "View Details";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Agency Procurement Request", "index")</li>
        <li class="breadcrumb-item">Create</li>
    </ol>
}

@section Header {
    <div class="col-md-12 text-right">
        <h1 class="card-title">Agency Procurement Request [ <i>006-19</i> ]</h1>
    </div>
}

<div class="card card-info card-outline">
    <div class="card-header d-flex p-0">
        <ul class="nav nav-pills p-2">
            <li class="nav-item"><a class="nav-link active" href="#apr_details" data-toggle="tab"><i class="fa fa-list"></i>&nbsp; APR Details</a></li>
            <li class="nav-item"><a class="nav-link" href="#workflow" data-toggle="tab"><i class="fa fa-briefcase"></i>&nbsp; Workflow</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="apr_details">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Agency Control No.</th>
                    <td><i>New APR</i></td>
                </tr>
                <tr>
                    <th>Date Prepared</th>
                    <td>29 March 2019 10:36AM</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>On-process (Internal)</td>
                </tr>
                <tr>
                    <th>PS APR No.</th>
                    <td><i>No APR No. yet</i></td>
                </tr>
            </table>
        </div>
        <div class="tab-pane" id="workflow">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th width="25%">
                            Date
                        </th>
                        <th width="50%">
                            Description
                        </th>
                        <th width="25%">
                            Staff
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            01 October 2019 10:45AM
                        </td>
                        <td>
                            PPMP submitted to Budget Services Office.
                        </td>
                        <td>
                            PSMO Staff
                        </td>
                    </tr>
                    <tr>
                        <td>
                            10 October 2019 01:00PM
                        </td>
                        <td>
                            PPMP Submission Accepted.
                        </td>
                        <td>
                            Budget Officer
                        </td>
                    </tr>
                    <tr>
                        <td>
                            10 October 2019 01:00PM
                        </td>
                        <td>
                            PPMP shall be subject for review of BSO, thank you.
                        </td>
                        <td>
                            Budget Officer
                        </td>
                    </tr>
                    <tr>
                        <td>
                            11 October 2019 04:36PM
                        </td>
                        <td>
                            Please revise PPMP according to the approved budget.
                        </td>
                        <td>
                            Budget Officer
                        </td>
                    </tr>
                    <tr>
                        <td>
                            11 October 2019 04:36PM
                        </td>
                        <td>
                            PPMP transferred from Budget Services Office to Property and Supplies Management Office.
                        </td>
                        <td>
                            Budget Officer
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<div class="card card-info card-outline">
    <div class="card-header">
        <h1 class="card-title">Line Items</h1>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover" id="example2">
            <thead>
                <tr>
                    <th width="40%">Item and Description</th>
                    <th width="15%">Unit</th>
                    <th width="10%">Quantity</th>
                    <th width="15%">Unit Price</th>
                    <th width="20%">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        ACETATE, thickness: 0.075mm (gauge #3)
                    </td>
                    <td align="center">
                        ROLL
                    </td>
                    <td align="center">
                        20
                    </td>
                    <td align="right">
                        726.84
                    </td>
                    <td align="right">
                        14,536.80
                    </td>
                </tr>
                <tr>
                    <td>
                        CARTOLINA, assorted colors
                    </td>
                    <td align="center">
                        PACK
                    </td>
                    <td align="center">
                        100
                    </td>
                    <td align="right">
                        83.72
                    </td>
                    <td align="right">
                        8,372.00
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="row float-right">
            <div class="col-md-12">
                <h5>Total Amount: 22,908.80</h5>
            </div>
        </div>
    </div>
</div>

@section FormFooter {
    <div class="form-group float-right">
        <button type="submit" class="btn btn-primary" onclick="window.location = '@Url.Action("index", "PurchaseRequest")'">Report View</button>
        <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("index", "AgencyProcurementRequest")'">Back</button>
    </div>
}