@model PUPFMIS.Models.UsersMaster
@{
    ViewBag.Title = "PrintApplicationForm";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}


<div><h4>Republic of the Philippines</h4></div>
<div><h3>POLYTECHNIC UNIVERSITY OF THE PHILIPPINES</h3></div>
<div><h6>Sta. Mesa, Manila</h6></div>
<br />
<div><h2>FINANCIAL MANAGEMENT INFORMATION SYSTEM</h2></div>
<div><h2>User Application Form</h2></div>

