@model PUPFMIS.Models.PurchaseRequestApproval

@{
    ViewBag.Title = "Purchase Requests";
    ViewBag.Description = "View Details";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Purchase Requests", "index")</li>
        <li class="breadcrumb-item">View</li>
    </ol>
}

@section Header {
    <div class="col-md-12 text-right">
        <h1 class="card-title">Purchase Request [ <i>19-01-016</i> ]</h1>
    </div>
}

<div class="card card-info card-outline">
    <div class="card-header">
        <h3 class="card-title">Purchase Request Header</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>Purchase Request No.</th>
                        <td>19-01-016</td>
                    </tr>
                    <tr>
                        <th>Date Prepared</th>
                        <td>20 January 2019 11:11 AM</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>Purchase Request Submission received and acknowledged.</td>
                    </tr>
                    <tr>
                        <th>Purpose</th>
                        <td><i>Furniture to replace old ones in the Office.</i></td>
                    </tr>
                    <tr>
                        <th>Staff</th>
                        <td>PSMO Staff</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Line Items</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover" id="example2">
                            <thead>
                                <tr>
                                    <th width="40%">Item and Description</th>
                                    <th width="15%">Unit</th>
                                    <th width="10%">Quantity</th>
                                    <th width="15%">Unit Cost</th>
                                    <th width="20%">Total Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <b>CHAIR, Executive</b>
                                        <br />
                                        Specifications: (specifications go here...)
                                    </td>
                                    <td align="center">
                                        PC
                                    </td>
                                    <td align="center">
                                        3
                                    </td>
                                    <td align="right">
                                        3,204.90
                                    </td>
                                    <td align="right">
                                        9,614.70
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>CHAIR, Visitors'</b>
                                        <br />
                                        Specifications: (specifications go here...)
                                    </td>
                                    <td align="center">
                                        PC
                                    </td>
                                    <td align="center">
                                        5
                                    </td>
                                    <td align="right">
                                        1,500.00
                                    </td>
                                    <td align="right">
                                        7,500.00
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-info card-outline">
    <div class="card-header">
        <h3 class="card-title">Approval</h3>
    </div>
</div>
