
<div class="modal-header">
    <h4 class="modal-title">Choose Request Type</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@using (Ajax.BeginForm("AskRequestType", "Requests", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "modal-container", OnSuccess = "CloseModal" }))
{
    <div class="modal-body" id="form-body">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.Label("Request Type", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("RequestType", new SelectList(Enum.GetNames(typeof(PUPFMIS.Models.RequestTypes))), htmlAttributes: new { @class = "form-control" })
        </div>

    </div>
    <div class="modal-footer">
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="save-btn">Select Type</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
}
