@model IEnumerable<PUPFMIS.Models.ICSDetails>
@*@{ 
    PUPFMIS.Models.PPEInstance ICSProperty = ViewData["ICSProperty"] as PUPFMIS.Models.PPEInstance;
}*@


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="vertical-align:middle; text-align:center" rowspan="2" width="25%">PPE Information </th>
            <th style="vertical-align:middle; text-align:center" rowspan="2" width="8%">Unit</th>
            <th style="vertical-align:middle; text-align:center" colspan="2">Amount</th>
            <th style="vertical-align:middle; text-align:center" rowspan="2" width="22%">Inventory Item No.</th>
            <th style="vertical-align:middle; text-align:center" rowspan="2" width="15%">Estimated Useful Life<br />(in months)</th>
        </tr>
        <tr>
            <th style="vertical-align:middle; text-align:center" width="15%">Unit Cost</th>
            <th style="vertical-align:middle; text-align:center" width="15%">Total Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="vertical-align:middle; text-align:left">
                <b>PRINTER, CONTINUOUS INK TANK SYSTEM</b>
                <br />
                <i>SPECIFICATIONS:</i>
                <br />
                <i>Specifications go here...</i>
            </td>
            <td style="vertical-align:middle; text-align:center">Unit</td>
            <td style="vertical-align:middle; text-align:right">7,250.00</td>
            <td style="vertical-align:middle; text-align:right">7,250.00</td>
            <td style="vertical-align:middle; text-align:center"><b>PUP-7-1-0243-2017</b></td>
            <td style="vertical-align:middle; text-align:center">36</td>
        </tr>
        <tr>
            <td style="vertical-align:middle; text-align:left">
                <b>PRINTER, CONTINUOUS INK TANK SYSTEM</b>
                <br />
                <i>SPECIFICATIONS:</i>
                <br />
                <i>Specifications go here...</i>
            </td>
            <td style="vertical-align:middle; text-align:center">Unit</td>
            <td style="vertical-align:middle; text-align:right">7,250.00</td>
            <td style="vertical-align:middle; text-align:right">7,250.00</td>
            <td style="vertical-align:middle; text-align:center"><b>PUP-7-1-0244-2017</b></td>
            <td style="vertical-align:middle; text-align:center">36</td>
        </tr>
        <tr>
            <td style="vertical-align:middle; text-align:left">
                <b>PRINTER, CONTINUOUS INK TANK SYSTEM</b>
                <br />
                <i>SPECIFICATIONS:</i>
                <br />
                <i>Specifications go here...</i>
            </td>
            <td style="vertical-align:middle; text-align:center">Unit</td>
            <td style="vertical-align:middle; text-align:right">7,250.00</td>
            <td style="vertical-align:middle; text-align:right">7,250.00</td>
            <td style="vertical-align:middle; text-align:center"><b>PUP-7-1-0245-2017</b></td>
            <td style="vertical-align:middle; text-align:center">36</td>
        </tr>
    </tbody>
</table>
