@model PUPFMIS.Models.RequestDetails

<div class="card card-info card-outline">
    <div class="card-header">
        <h3 class="card-title">Request Basket</h3>
    </div>
    <div class="card-body">
        <div class="panel" style="height:300px; overflow-x:hidden; overflow-y:auto;">
            <div class="row">
                <div class="col-md-1">
                    <span><i class="fa fa-times"></i></span>
                </div>
                <div class="col-md-11">
                    <div class="group">
                        <b>ACETATE</b>
                        <br />
                        QTY: 100
                        <br />
                        UOM: Meters
                        <br />
                        Specifications:
                        <br />
                        <i>Item Specifications go here...</i>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-1">
                    <span><i class="fa fa-times"></i></span>
                </div>
                <div class="col-md-11">
                    <div class="group">
                        <b>ACETATE</b>
                        <br />
                        QTY: 100
                        <br />
                        UOM: Meters
                        <br />
                        Specifications:
                        <br />
                        <i>Item Specifications go here...</i>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-1">
                    <span><i class="fa fa-times"></i></span>
                </div>
                <div class="col-md-11">
                    <div class="group">
                        <b>ACETATE</b>
                        <br />
                        QTY: 100
                        <br />
                        UOM: Meters
                        <br />
                        Specifications:
                        <br />
                        <i>Item Specifications go here...</i>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-1">
                    <span><i class="fa fa-times"></i></span>
                </div>
                <div class="col-md-11">
                    <div class="group">
                        <b>ACETATE</b>
                        <br />
                        QTY: 100
                        <br />
                        UOM: Meters
                        <br />
                        Specifications:
                        <br />
                        <i>Item Specifications go here...</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row float-right">
            <div class="col-md-12">
                <button class="btn btn-primary" type="button" onclick="window.location = '@Url.Action("requestbasket","Requests")'"><i class="fa fa-eye"></i> View Request Basket</button>
            </div>
        </div>
    </div>
</div>